<div id="container">
  {{#each item in model}}
    {{log item}}
    <div class="card">
        <div class="card-header">
          <img class="avatar" src={{item.actor.avatar_url}} />
          <h3 class="login">{{item.actor.login}}</h3>
        </div>
        <div class="card-content">
            <ul>
                <li>Type: {{item.type}}</li>
                <li>Action: {{item.payload.action}}</li>
                <li>Repo: {{item.repo.name}}</li>
                <li>Created at: {{item.created_at}} </li>
            </ul>
        </div>
    </div>
  {{/each}}
</div>